body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5; /* Light grey-blue background */
}

header {
    background-color: #394867; /* Dark blue header */
    text-align: left;
    padding: 1em;
}

header h1 {
    color: #fff; /* White title text */
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff; /* White section background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50; /* Dark grey-blue heading text */
}

.button-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    width: 200px; /* Adjust the width as needed */
    background-color: #5e81ac; /* Medium blue button background */
    color: #fff; /* White button text */
    border: none;
}

button:hover {
    background-color: #7e9cb6; /* Lighter blue on hover */
}

.foreground-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.foreground-menu button.back-button {
    margin-right: 10px;
}

footer {
    background-color: #394867; /* Dark blue footer */
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
